
.smallBlock {
  height: 25vh;
}

.normalBlock {
  height: 64vh;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d24;
  border-radius: 20px;
  padding: 24px;
  text-align: center;

  span {
    color: #afafaf;
    max-width: 60%;
    line-height: 1.5;
    letter-spacing: 0.5px;
    hyphens: auto;
  }
}