
.smallBlock {
  height: 25vh;
}

.normalBlock {
  height: 65vh;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d24;
  border-radius: 20px;

  span {
    color: #afafaf;
  }
}