.header{
  display: flex;
  justify-content: space-between;
  background-color: #1d1d24;
  height: 70px;
  padding: 15px;
  border-bottom: 1px solid #2c2c2c;
  position: sticky;
  top: 0;
  z-index: 999;

  .left{
    display: flex;
    gap: 15px;

    img{
      cursor: pointer;
    }
  }

  .center{
    display: flex;
    gap: 60px;

    img{
      cursor: pointer;
    }
  }

  .right{
    display: flex;
    gap: 10px;

    img{
      cursor: pointer;
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}