.headerMain {
  background-color: #1d1d24;
  border-bottom: 1px solid #2c2c2c;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 20px;

  .container {
    max-width: 1024px;
    margin: 0 auto;

    .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;

      .burger {
        display: none; // По умолчанию скрыт

        @media (max-width: 768px) {
          display: block;
          order: -1; // Если нужно переместить в начало
        }

        .burgerButton {
          width: 30px;
          height: 20px;
          position: relative;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;

          span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #bdbdbd;
            left: 0;
            transition: all 0.3s ease;

            &:nth-child(1) {
              top: 0;
            }

            &:nth-child(2) {
              top: 50%;
              transform: translateY(-50%);
            }

            &:nth-child(3) {
              bottom: 0;
            }
          }

          &.active {
            span:nth-child(1) {
              top: 50%;
              transform: translateY(-50%) rotate(45deg);
            }

            span:nth-child(2) {
              opacity: 0;
            }

            span:nth-child(3) {
              bottom: 50%;
              transform: translateY(50%) rotate(-45deg);
            }
          }
        }
      }

      .center {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
          font-size: 32px;
          color: #d8d8d8;
          font-style: italic;
          letter-spacing: 8px;
        }

        img {
          cursor: pointer;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .right {
        display: flex;
        gap: 12px;

        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}