.sort {
  position: relative;

  &__label {
    display: flex;
    align-items: center;
    font-size: 32px;

    svg {
      margin-right: 8px;
    }

    b {
      margin-right: 8px;
    }

    span {
      color: #8a8a8a;
      cursor: pointer;
    }
  }

  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #15151c;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;
    z-index: 10;


    ul {
      overflow: hidden;

      li {
        padding: 12px 20px;
        cursor: pointer;

        &.active,
        &:hover {
          background: rgba(199, 225, 255, 0.05);
        }

        &.active {
          font-weight: bold;
          color: orange;
        }
      }
    }
  }
}
