.sidebar {
  flex: 2;
  color: #bdbdbd;
  position: sticky;
  top: 80px;
  height: 100%;


  .container {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
}

@media (max-width: 380px) {
  .sidebar {
    display: none;
  }
}