.friends {
  //margin: 20px 50px 20px 70px;
  background-color: #1d1d24;
  border-radius: 20px;

  .container {
    padding: 20px;

    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1.5px solid #2c2c2c;


      gap: 15px;
      margin-top: 20px;
      padding-bottom: 10px;

      .friend {
        display: flex;
        gap: 12px;

        .userImg {
          border-radius: 50%;
          object-fit: cover;
          width: 100px;
          height: 100px;
        }

        .info {
          display: flex;
          flex-direction: column;
          margin-top: 16px;
          justify-content: flex-start;


          a {
            margin-bottom: 12px;
            color: #bdbdbd;
            font-size: 18px;
          }

          a:hover {
            color: #7a7b8a;
          }
        }
      }
    }

    .item:last-child {
      border: none;
    }
  }
}