.profile {

  .uInfo {
    height: 100px;
    -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 0 0 20px 20px;
    background-color: #1d1d24;
    color: #bdbdbd;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      font-size: 16px;
      position: relative;
      left: 100px;
      bottom: 0px;
      color: #fefefe;
      display: flex;
      flex-direction: column;
    }

    .info {
      font-size: 13px;
      position: relative;
      left: 0;
      bottom: 0;
      color: #8a8a8a;
      margin-top: 5px;
    }

    .button {
      position: relative;
      right: 0;
    }

  }

  .postsContainer {
    padding: 0 50px 20px 70px;
  }
}
