.community {
  margin: 20px 50px 20px 70px;
  background-color: #1d1d24;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0 0 25px -10px rgb(0, 0, 0);

  .container {
    padding: 20px;

    .communityTop {
      display: flex;
      flex-direction: column;

      span {
        font-size: 18px;
        color: #bdbdbd;
        margin-bottom: 15px;

      }
    }


    .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1.5px solid #2c2c2c;

      .item1 {
        display: flex;
        gap: 15px;
        margin-top: 20px;
        padding-bottom: 10px;


        img {
          border-radius: 50%;
          object-fit: cover;
          width: 100px;
          height: 100px;
        }

        .info {
          display: flex;
          flex-direction: column;

          a {
            margin-top: 10px;
            margin-bottom: 5px;
            color: rgba(254, 254, 254, 0.85);
            font-size: 18px;
          }

          span {
            color: #bdbdbd;
            font-size: 14px;
            margin: 3px 0;
          }

          a:hover {
            color: rgba(254, 254, 254, 0.52);
          }
        }
      }
    }

    .item:last-child {
      border: none;
    }


    //.actions {
    //  right: 0;
    //}

    .communityBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      p {
        font-size: 18px;
        color: #bdbdbd;

        span {
          color: #fefefe;
        }
      }

      .buttons {
        display: flex;
        gap: 10px;
      }
    }
  }
}