.user {
  display: flex;
  align-items: center;
  justify-content: space-between;


  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }


  .userInfo {
    display: flex;
    gap: 8px;


    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .name {
        font-weight: 500;
      }

      .date {
        font-size: 12px;
        color: #8a8a8a;
      }
    }
  }
}