.input {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  background-color: #28282f;
  color: #d6d6d6;
  width: 100%;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  .input {
    padding: 7px;
  }

}