.main {

  .sidebar {
    -webkit-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.38);
    flex: 2;
    margin: 20px;
    border-radius: 15px;
    background-color: #1d1d24;
    padding: 20px;
    color: #bdbdbd;
    position: sticky;
    top: 90px;


    .title {
      font-weight: 700;
    }

    .firstBanner {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;

      .text {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #e0e0e0;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #afafaf;

        }
      }

      img {
        border-radius: 10px;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .secondBanner {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      align-items: center;

      .text {
        display: flex;
        flex-direction: column;
        cursor: pointer;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          color: #e0e0e0;
        }

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #afafaf;

        }
      }

      img {
        border-radius: 10px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 380px) {
  .main {
    display: none;
  }
}