.formEdit {
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    padding: 30px 0;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;

      .file {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        border: none;
        padding: 10px;
        background-color: #28282f;
        color: #bdbdbd;
        border-radius: 10px;
        font-size: 16px;
        transition: all 0.3s;

        span {
          font-weight: 500;
          font-size: 14px;
          color: #bdbdbd;
        }
      }

      .file:hover {
        background-color: #3c3c46;
        color: #bdbdbd;
      }
    }
  }
}