.messages {
  background-color: #1d1d24;
  padding: 10px;
  height: 67vh;
  overflow: auto;


  .dateLabelWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .dateLabel {
      display: inline-block;
      padding: 4px 12px;
      font-size: 14px;
      color: #c1c1c1;
      background-color: #28282f;
      text-align: center;
      border-radius: 16px;
      font-weight: 500;
      line-height: 1.4;
      text-transform: capitalize;
      user-select: none;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 16px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}